*,
*::before,
*::after {
  box-sizing: border-box;
}

.info {
  overflow: hidden;
  position: relative;
  border-color: rgb(17, 0, 255);
  border-style: solid;
  height: 50rem;
  width: 20rem;
  float: right;
}

.world {
  overflow: hidden;
  position: absolute;
  border-color: red;
  border-style: solid;
  height: 50rem;
  width: 50rem;
  float: left;
}

.unit {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 40%;

  overflow: hidden;

  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  background-color: rgb(var(--red), var(--green), var(--blue));
}

.food {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 0%;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
}

/* .test {
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: rgb(10, 256, 200);
  z-index: 100;
} */

/* .unit::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 85%;
  height: 85%;
  border-radius: 30%;
  margin: 8%;
  background: rgb(0, 0, 0);
  animation: rotation 4s infinite linear;
}

.unit::after {
  --color: 178;
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background: rgb(var(--color), 69, 182);
  margin: 8%;
  border-radius: 30%;
  animation: rotation 2s infinite linear;
} */

/* @keyframes rotation {
  to {
    transform: rotate(360deg);
  }
} */
