*,
*::before,
*::after {
  box-sizing: border-box;
}

canvas {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.info {
  height: 100%;
  width: 20%;
  left: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(64, 62, 80);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.info .closebtn {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 36px;
  margin-right: 50px;
  color: white;
}

.info .closebtn:hover {
  color: rgb(224, 125, 125);
}

.openbtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  margin-right: 50px;
}

.openbtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.world-container {
  overflow: hidden;
  position: absolute;
  border-color: rgb(78, 77, 77);
  background-color: gray;
  border-style: solid;
  border-width: 10px;
  height: 50rem;
  width: 50rem;
  float: left;
}

.unit {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 40%;

  overflow: hidden;

  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  background-color: rgb(var(--red), var(--green), var(--blue));
}

.food {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 0%;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
}

.fight {
  position: absolute;
  width: 2.5%;
  height: 2%;
  overflow: hidden;
  opacity: 0;

  left: calc(var(--left));
  bottom: calc(var(--bottom));
  animation: grow 1s;
}

.love {
  position: absolute;
  width: 2%;
  height: 2%;
  overflow: hidden;
  opacity: 0;

  left: calc(var(--left));
  bottom: calc(var(--bottom));
  animation: grow 1s;
}

.hide {
  display: none;
}

.start-screen {
  position: absolute;
  opacity: 70%;
  font-size: 4vmin;
  font-weight: bolder;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: lightgray;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 100;
  }
  to {
    transform: scale(2);
    opacity: 0;
    display: none;
  }
}

.sliderContainer {
  position: relative;
  text-align: center;
  color: #fff;
}

.slider {
  width: 70%;
  background: #444;
  margin: 10px;
  padding: 10px;
  position: relative;
  left: -1rem;
}

.slider input[type="range"] {
  width: 70%;
}

.sliderTitle {
  font-family: helvetica, arial;
}

.limitFirst {
  position: relative;
  font-family: helvetica, arial;
  top: -20px;
  left: -125px;
}

.limitSecond {
  position: relative;
  font-family: helvetica, arial;
  right: -100px;
  top: -20px;
  text-align: center;
}
/* .test {
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: rgb(10, 256, 200);
  z-index: 100;
} */

/* .unit::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 85%;
  height: 85%;
  border-radius: 30%;
  margin: 8%;
  background: rgb(0, 0, 0);
  animation: rotation 4s infinite linear;
}

.unit::after {
  --color: 178;
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background: rgb(var(--color), 69, 182);
  margin: 8%;
  border-radius: 30%;
  animation: rotation 2s infinite linear;
} */

/* @keyframes rotation {
  to {
    transform: rotate(360deg);
  }
} */
