*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

canvas {
  background-color: #353232;
  z-index: 100;
}

#dna {
  position: relative; /* Declared position allows for location changes */
  top: -5px; /* Moves the image 2px closer to the top of the page */
}

.closebtn {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 36px;
  margin-right: 50px;
  color: white;
}

.closebtn:hover {
  color: rgb(224, 125, 125);
}

.openbtn {
  position: absolute;
  color: rgba(255, 255, 255, 0.74);
  top: 0;
  left: 1rem;
  font-size: 20px;

  z-index: 0;
  display: inline-block;
  text-align: center;
}

.openbtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.world-container {
  position: relative;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 1%;
  height: 45rem;
  width: 45rem;
  float: right;
}

.start-screen {
  position: absolute;

  font-size: 3vmin;
  font-weight: bolder;
  color: white;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.unit {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 40%;

  overflow: hidden;

  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
  background-color: rgb(var(--red), var(--green), var(--blue));
}

.food {
  position: absolute;
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  border-radius: 0%;
  left: calc(var(--left) * 1%);
  bottom: calc(var(--bottom) * 1%);
}

.fight {
  position: absolute;
  width: 2.5%;
  height: 2%;
  overflow: hidden;
  opacity: 0;

  left: calc(var(--left));
  bottom: calc(var(--bottom));
  animation: grow 1s;
}

.love {
  position: absolute;
  width: 2%;
  height: 2%;
  overflow: hidden;
  opacity: 0;

  left: calc(var(--left));
  bottom: calc(var(--bottom));
  animation: grow 1s;
}

.hide {
  display: none;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 100;
  }
  to {
    transform: scale(2);
    opacity: 0;
    display: none;
  }
}

.control-bar {
  width: 85%;
}

output {
  position: relative;
  bottom: 5px;
  left: 4px;
}
/* .test {
  position: absolute;
  width: 20%;
  height: 20%;
  background-color: rgb(10, 256, 200);
  z-index: 100;
} */

/* .unit::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 85%;
  height: 85%;
  border-radius: 30%;
  margin: 8%;
  background: rgb(0, 0, 0);
  animation: rotation 4s infinite linear;
}

.unit::after {
  --color: 178;
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background: rgb(var(--color), 69, 182);
  margin: 8%;
  border-radius: 30%;
  animation: rotation 2s infinite linear;
} */

/* @keyframes rotation {
  to {
    transform: rotate(360deg);
  }
} */
